back-color = #f5f5f5
a-white = #f9f9f9
b-white = #f7f7f7
c-white = #f7fcfa
d-white = #fafafa
item-color = #f2f2f2
r-black = #000
black = #333
deep-black = #383838
bottom-black = #8e8e93
grey = #ddd
a-grey = #808080
b-grey = #a6a6a6
c-grey = #777
d-grey = #888
blue = #4c77ae
light-blue = #8da6c7
a-red = #f58d56
b-red = #f76d6d
c-red = #fcf7f7
d-red = #f85959
green = #59c995